<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>CREATE A NEW POST</h2>

    <!-- Switch 'GET' to 'POST' to transfer data
    form method="post" -->
    <form method="get" action="{% url 'create_post' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <a href="{% url 'home' %}">
        <button>Back</button>
    </a>
</body>

</html>
