<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>{{ post.title }} (ID: {{ post.id }})</h1>
    <p>By {{ post.author }} on {{ post.created_at }}</p>
    <p>{{ post.content }}</p>

    <h3>Comments</h3>
    <ul>
        {% for comment in post.comments.all %}
        <li>
            <strong>{{ comment.author }}</strong> ({{ comment.created_at }}): {{ comment.content|safe }} <!--remove '|safe'-->
            <!--{% if post.author == request.user %} {% endif %}-->
            <form action="{% url 'delete_comment' comment.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% empty %}
        <p>No comments yet!</p>
        {% endfor %}
    </ul>

    <h3>Leave a comment</h3>
    <form method="post" action="{% url 'add_comment' post.id %}">
        <!--{% csrf_token %} uncomment this-->
        {{ form.as_p }}
        <button type="submit">Post comment</button>
    </form>

    <!--{% if post.author == request.user %} {% endif %}-->
    <a href="{% url 'edit_post' post.id %}">
        <button>Edit post</button>
    </a>

    <a href="{% url 'home' %}">
        <button>Go back</button>
    </a>
</body>

</html>